<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Code Dojo</h1>
    <p class="lead">Click 'Begin Session' below to collaborate</p>
  </div>
</header>
<main>

  <div ui-ace="{
      useWrapMode : true,
      showGutter: true,
      theme:'github',
      mode: 'javascript'
    }" >// Code goes here...</div>

    <section ng-controller="AceCtrl">
      <div ui-ace="aceOption" ng-model="aceModel"></div>Choose Language
      <select ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()"></select>
    </section>

  <div>
    <button id="start-togetherjs" type="button"
     onclick="TogetherJS(this); return false"
     data-end-togetherjs-html="End Session">
      Begin Session
</button>
  </div>
</main>


